* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    padding: 15px 40px;
    width: 450px;
}

.container h1 {
    text-align: center;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    margin-bottom: 6px;
}

.outroSite{
    position: absolute;
    top: 5px;
    right: 5px;
}