body{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container{
    background-color: white;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tabela{
    border: 1;
}